$turquoise: #1abc9c;
$turquoise-dark: #16a085;

$green: #27ae60;
$green-light: #2ecc71;

$blue-light: #3498db;
$blue: #2980b9;

$purple-light: #9b59b6;
$purple: #8e44ad;

$stone-light: #34495e;
$stone: #2c3e50;

$yellow: #f1c40f;
$yellow-dark: #f39c12;

$orange: #e67e22;
$orange-muted: #d35400;

$red: #e74c3c;
$red-dark: #c0392b;

$white: #fff;
$gray-light: #ecf0f1;
$gray: #bdc3c7;
$gray-dark: #95a5a6;
$gray-darker: #7f8c8d;
$black: #333; // <- its all lies! Muhaahaha!

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {
  display: inline-block;
}

small {
  font-weight: 100;
}

.wrapper {
  min-height: 100%;
  height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
  height: 100%;
  margin: 0 auto -55px;
}

.footer, .push {
  padding: 0 20px;
  margin: 0;
  height: 50px;
}

.footer {
  background: rgba($white, 0.8);
  border-top: 1px solid $gray;
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/

body, input[type=submit] {
  font-family: "Oswald", sans-serif;
}

body {
  font-size: 1.1em;
  text-align: center;
}

h2, h3, h4, input[type=submit] {
  font-weight: 100;
}

canvas {
  max-width: 700px;
  max-height: 700px;
}

.subtle {
  color: $gray-darker;
}

.col--left {
  box-sizing: border-box;
  position: absolute;
  top: 0; right: 350px; bottom: 0; left: 0;
  padding: 20px 40px;
}

.col--right {
  box-sizing: border-box;
  position: absolute;
  top: 0; right: 0; bottom: 55px;
  width: 350px;
  padding: 30px 20px;
  background: $gray-light;
}

.swatch {
  height: 56px;
  line-height: 56px;
  margin-bottom: 10px;
  text-align: left;
}

.swatch__circle {
  box-sizing: border-box;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  width: 56px;
  height: 56px;
  border-width: 8px;
  border-style: solid;
  border-radius: 100%;
  margin-right: 10px;
}

.swatch__label {
  display: inline-block;
  line-height: 56px;
  vertical-align: top;
  font-weight: 100;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

fieldset {
  text-align: left;
  border: none;
  display: inline-block;

}

a {
  color: $red;
  text-decoration: none;
}

input[type=text] {
  box-sizing: border-box;
  width: 100%;
  max-width: 320px;
  border-radius: 7px;
  border: 1px solid $gray;
  padding: 8px 16px;
  outline: none;
  text-align: center;
  margin-bottom: 10px;
  line-height: 36px;
  font-size: 15px;

  &.large {
    padding: 10px 20px;
    width: 620px;
    max-width: 80%;
    margin: 20px;
    margin-top: 0;
    line-height: 42px;
    font-size: 20px;
  }

  &:focus {
    border-color: $blue;
  }
}

input[type=submit] {
  -webkit-appearance: none;
  cursor: pointer;
  outline: none;
  width: 120px;
  height: 120px;
  border: none;
  margin: 10px 0;
  background: $green;
  color: $white;
  font-size: 24px;
  padding: 10px 15px;
  border-radius: 100%;
  text-align: center;
}
