<!DOCTYPE html>
<html ng-app="Poll">
<head>
  <title>Poll</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
  <script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
</head>
<body data-no-turbolink>
  <div class="wrapper">
    <%= yield %>
    <div class="push"></div>
  </div>
  <div class="footer">
    <p>Poll is a soon to be open-sourced project by <a href="http://github.com/adambutler">Adam Butler</a><br>
  </div>

</body>
</html>
